.VisibilitySelect {
  float: left;
  padding-bottom: 10px;
}
.VisibilitySelect__icon {
  margin-right: 16px;
}
.VisibilitySelect__label {
  float: left;
  padding: 0 10px 0 0;
  min-width: 95px;
}

.VisibilitySelect--dashboardDetail {
  padding-bottom: 0;

  display: flex;
  align-items: center;
}
.VisibilitySelect--dashboardDetail .VisibilitySelect__select {
  background-color: #fff;
}
.VisibilitySelect__menuItemGroup {
  display: flex;
  align-items: center;
}
