.ViewWithForm__button {
  padding: 4px;
  margin-left: 5px;
  border: 1px solid gray;
}
.ViewWithForm__warning {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ViewWithForm__panelHeading {
  background-color: #efefef;
  border-bottom: 4px solid #64d8cb;
  padding: 16px;
}

.ViewWithForm__listGroupItem {
  margin: 10px;
}
