{{ if .Values.elastic.deploy }}
apiVersion: v1
kind: Service
metadata:
  name: elastic
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: elastic
  ports:
    - name: http
      port: 9200
      targetPort: 9200
    - name: transport
      port: 9300
      targetPort: 9300
  {{ end }}
