.DS_Store
**/.DS_Store
.sass-cache
.project
public
Desktop.ini
node_modules
app/assets/stylesheets/generated
.happypack
.vscode
.idea
target
target/
/target
.classpath
.settings
.factorypath
nashorn_code_cache
/frontend/qa/Documentation/
/frontend/fv-utils/
/frontend/fv-batch-import/
/frontend/scripts/files/import.log
/frontend/scripts/files/*_errors.csv
*.iml
/frontend/cypress/videos/
/frontend/cypress/screenshots/
*.log
/frontend/temp/*
*/test-report.xml
*.scannerwork

# Docker
/docker/docker-compose.private.yml
/docker/First-Voices-LATEST.zip
/docker/First-Voices-marketplace-package-LATEST.zip
/docker/nuxeo_dev_docker/
/docker/database/*
/docker/frontend/