.Dashboard__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  min-height: 115px;
  margin-bottom: 70px;
  margin-right: -15px;
  margin-left: -15px;
}

.Dashboard__headerText {
  color: #fff;
}

.Dashboard__widgetsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-gap: 3vw;
  padding-bottom: 5rem;
}

@media screen and (max-width: 750px) {
  .Dashboard__widgetsContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
}
