.RequestChanges {
  padding: 30px 5%;
  display: flex;
  align-items: center;
}

.RequestChanges__actions {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.RequestChanges .RequestChanges__actionButton {
  margin-left: 25px;
}
