.RequestChanges {
  padding: 10px 5%;
}

input {
  width: 100%;
  padding: 30px;
}

.visibilitySelector {
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
