.Breadcrumb__container {
  background: e1e1e2;
  min-height: 64px;
  margin: 0;
  margin-right: auto;
  line-height: 1.2;
}

.Breadcrumb__link {
  min-height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 8px;
  cursor: default;
}

.Breadcrumb__first {
  font-size: 1.8rem;
}

.Breadcrumb {
  font-size: 1.4rem;
  padding: 1.5rem;
  margin: 0;
  background-color: transparent;
}

.Breadcrumb a {
  color: #353b40;
  text-decoration: none;
}
.Breadcrumb a:hover,
.Breadcrumb a:focus {
  text-decoration: underline;
}
.Breadcrumb > li.active {
  color: #000;
}
.Breadcrumb > li + li:before {
  content: '/\00a0';
  padding: 0 0 0 5px;
  color: #ccc;
}

@media (max-width: 650px) {
  .Breadcrumb {
    display: none;
  }
}
