/* -------------------- */
/* ELEMENT */
/* -------------------- */
.WordsList__colSort {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.WordsList__actions {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}
.WordsList__actionContainer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.WordsList__actionDelete {
  margin-left: 2rem;
}

.WordsList__confirmationDelete {
  margin-left: auto;
}
.WordsList__data,
.data-table td.WordsList__data {
  font-size: 1.6rem;
  padding: 0 10px;
}
.WordsList__row {
  border-bottom: 1px dotted #a8a8a8;
  background: #fff;
}
.WordsList__footer,
.WordsList .WordsList__data.WordsList__footer {
  background: linear-gradient(to bottom, #e6e6e6 100%, #efefef 13%, #f7f7f7 0%);
  border-top: 1px solid #a8a8a8;
  padding: 10px;
  font-weight: 700;
}

.WordsList__ListButtonsGroup {
  /* margin: 10px 0; */
  text-align: right;
}
.WordsList__ListButtonsGroup .WordsList__viewModeButton {
  margin: 5px;
}

.WordsList__definitionList {
  padding-left: 25px;
}
/* -------------------- */
/* MODIFIER */
/* -------------------- */
.WordsList--noData {
  margin: 20px 0;
}
.WordsList__row--a {
  background: #fff;
}
.WordsList__row--b {
  background: #f2f7ff;
}
.WordsList__data--title,
.WordsList__data.WordsList__data--title,
.data-table td.WordsList__data--title {
  text-align: center;
  padding: 10px;
}

/* Note: text-decoration 'underline' will obscure some indigenous fonts that have a diacritic under a letter */
.WordsList__data--title .WordsList__link,
.WordsList__link.WordsList__link--indigenous {
  border-bottom: none;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.2;
}
.WordsList__data--title .WordsList__link:hover,
.WordsList__link.WordsList__link--indigenous:hover {
  background-color: #fbe8e8;
  color: #820000;
  border-color: #820000;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.04);
}

.WordsList__data--definitions {
  font-size: 1.6rem;
}

.WordsList--contributors .WordsList__data--title,
.WordsList--contributors .WordsList__data.WordsList__data--title,
.WordsList--contributors .data-table td.WordsList__data--title {
  text-align: left;
}
.WordsList__definitionList--single {
  list-style-type: none;
  padding-left: 0;
}
