.DashboardDetailSelectedItem {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.DashboardDetailSelectedItem__TaskSummary {
  padding: 10px;
}
.DashboardDetailSelectedItem__ActivityStream {
  padding: 10px;
}
.DashboardDetailSelectedItem__Notes {
  grid-area: Notes;
  padding: 10px;
}
.DashboardDetailSelectedItem__ItemDetail {
  padding: 10px;
}
.DashboardDetailSelectedItem__TaskActions {
  background-color: rgb(239, 239, 239);
  border: 1px solid #e5e5e5;
}

.DashboardDetailSelectedItem__ItemOverview {
  flex-grow: 2;
  overflow: auto;
}
.DashboardDetailSelectedItem__Actions {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;
}
