.SearchDictionary--noData {
  margin: 30px 0;
}

.SearchDictionary__container {
  min-height: 220px;
}

.SearchDictionary__rowHeader {
  border-bottom: 1px solid rgba(168, 168, 168);
  background-image: linear-gradient(rgb(247, 247, 247) 0%, rgb(239, 239, 239) 13%, rgb(230, 230, 230) 100%);
}

.SearchDictionary__rowHeaderCell {
  font-size: 1.6rem;
}

.SearchDictionary__row {
  border-bottom: 1px dotted #a8a8a8;
}
.SearchDictionary__row--a {
  background: #fff;
}
.SearchDictionary__row--b {
  background: #f2f7ff;
}

/* Note: text-decoration 'underline' will obscure some indigenous fonts that have a diacritic under a letter */
.SearchDictionary__link.SearchDictionary__link--indigenous {
  border-bottom: none;
  text-align: left;
  text-decoration: none;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  display: inline-block;
  font-size: 2rem;
}

.SearchDictionary__link.SearchDictionary__link--indigenous:hover {
  background-color: #fbe8e8;
  color: #820000;
  border-color: #820000;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.04);
}

.SearchDictionary__definitionList {
  padding-left: 25px;
  font-size: 1.6rem;
}

.SearchDictionary__definitionList--single {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.6rem;
}

.SearchDictionary__pictureThumbnail {
  max-width: 62px;
  max-height: 45px;
}

.SearchDictionary__type {
  font-size: 1.6rem;
}
/* Filter List */
.SearchDictionary__filters {
  font-size: 16px;
  line-height: 1.2;
}

.SearchDictionary__filterList {
  list-style-type: none;
  padding: 0;
}

.SearchDictionary__filterListItem {
  display: block;
  text-decoration: none;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.SearchDictionary__filterListItem:hover,
.SearchDictionary__filterListItem:focus {
  background-color: #fbe8e8;
  color: #820000;
  text-decoration: none;
  border-color: #820000;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.04);
}
.SearchDictionary__filterListItem:focus {
  text-decoration: underline;
}

.SearchDictionary__filterListItem--active,
.SearchDictionary__filterListItem--active:hover {
  color: #820000;
  background-color: #f1cac9;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

.SearchDictionary__filterListItem--active {
  border-left: 3px solid #820000;
}

@media (max-width: 991px) {
  .SearchDictionary__filterListItem {
    padding: 5px;
  }
  .SearchDictionary__filterListItem--root {
    max-height: 120px;
    overflow: auto;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
  }
}

/* Search field and search buttons */
.SearchDictionary__form {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.SearchDictionary__formPrimary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.SearchDictionary__formPrimaryInput {
  margin-right: 2px;
  border: 1px solid #666666;
  min-width: 230px;
  padding: 0 5px;
}
