.DashboardDetail {
  margin-right: -15px;
  margin-left: -15px;

  display: grid;
  grid-template-rows: 115px minmax(auto, 75vh);
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'DashboardDetail__header DashboardDetail__header'
    'DashboardDetail__sidebar DashboardDetail__selectedItem';
}

.DashboardDetail__header {
  grid-area: DashboardDetail__header;
  display: flex;
  padding: 10px 0;
}

.DashboardDetail__sidebar {
  grid-area: DashboardDetail__sidebar;
  overflow: auto;
}

.DashboardDetail__selectedItem {
  grid-area: DashboardDetail__selectedItem;
  overflow: visible;
  position: relative;
}
.DashboardDetail__selectedItemClose {
  align-items: center;
  background: #d5d2d2;
  border-radius: 100%;
  border: none;
  color: #090909;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  position: absolute;
  left: -15px;
  top: 25px;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.DashboardDetail__selectedItemCloseIcon {
  position: relative;
  left: 2px;
}

.DashboardDetail__headerButton {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  text-decoration: underline;
}
.DashboardDetail__headerLink {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 25px;
  text-decoration: none;
  color: #fff;
}
.DashboardDetail__headerLink:visited,
.DashboardDetail__headerButton:visited {
  color: #fff;
}
.DashboardDetail--nothingSelected {
  grid-template-columns: 1fr;
  grid-template-areas:
    'DashboardDetail__header'
    'DashboardDetail__sidebar'
    'DashboardDetail__selectedItem';
}

.DashboardDetail__iconButton {
  background-color: #c4503c;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  margin-right: 20px;
}

.DashboardDetail.DashboardDetail--nothingSelected {
  grid-template-rows: 115px minmax(auto, auto);
}
.DashboardDetail--nothingSelected .TablePagination--td {
  display: flex;
  justify-content: flex-end;
  border: none;
}
