/* Block */
.DashboardDetailSidebarItem {
  display: flex;

  padding: 5px 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  min-height: 90px;
}
/* Element */
.DashboardDetailSidebarItem__icon {
  min-width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashboardDetailSidebarItem__main {
  width: 85%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}
.DashboardDetailSidebarItem__groupB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
}
/* Modifier */
.DashboardDetailSidebarItem--hasOnClick {
  cursor: pointer;
}

.DashboardDetailSidebarItem--isActive {
  background-color: rgba(0, 200, 0, 0.5) !important;
}
.DashboardDetailSidebarItem--isActive.DashboardDetailSidebarItem--isProcessed {
  background-color: rgba(190, 255, 190, 0.5) !important;
}

.DashboardDetailSidebarItem--isProcessed {
  opacity: 0.5;
}
.DashboardDetailSidebarItem--isProcessed .DashboardDetailSidebarItem__main {
  flex-direction: row;
  justify-content: space-between;
}
.DashboardDetailSidebarItem--isProcessed .DashboardDetailSidebarItem__groupA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}
.DashboardDetailSidebarItem--isProcessed .DashboardDetailSidebarItem__groupB {
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
