.fv-label {
  position: relative;
}

.fv-label-click-cover:hover {
  padding: 2px;
  text-decoration: none;
  border: 3px solid#B40000;
  box-shadow: inset 1px 1px rgba(255, 255, 255), inset -1px -1px rgba(255, 255, 255);
  cursor: context-menu;
}

.fv-label-immersion-menu {
  padding-left: 5px;
  font-size: 0.9em;
  vertical-align: top;
}

.fv-label-translation-li {
  opacity: 1 !important;
}

.fv-label-english-sm {
  font-size: 10px;
  font-weight: bold;
  padding-right: 5px;
}

.fv-label-icon {
  margin-right: 7px;
}

.fv-label.translationListItem {
  opacity: 1;
}

@media (max-width: 768px) {
  .fv-label-click-cover {
    padding: 2px;
    text-decoration: none;
    border: 3px solid#B40000;
    box-shadow: inset 1px 1px rgba(255, 255, 255), inset -1px -1px rgba(255, 255, 255);
    cursor: context-menu;
  }
}
