.WidgetLinks {
  padding: 0 30px;
  min-height: 100px;
}
.WidgetLinks .WidgetLinks__subtitle {
  margin-bottom: 10px;
}
.WidgetLinks__list {
  list-style-type: none;
  margin: 0;
  padding: 0 25px 25px;
}
.WidgetLinks__listItem {
  margin-bottom: 10px;
}
