.DashboardDetailSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.DashboardDetailSidebar__headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(239, 239, 239);
  border: 1px solid #e5e5e5;
}
.DashboardDetailSidebar__listContainer {
  flex-grow: 1;
  overflow: auto;
}
.DashboardDetailSidebar__list {
  margin: 0;
  padding: 0;
}
.DashboardDetailSidebar__list > .DashboardDetailSidebarItem:first-of-type {
  border-top: none;
}
.DashboardDetailSidebar__pagination {
  align-items: center;
  display: flex;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}
