.DetailSongStory {
  padding: 5px;
}

.DetailSongStory__audioPlayer {
  padding-top: 10px;
}

.DetailSongStory__header {
  padding-top: 20px;
}

.DetailSongStory__introduction {
  padding: 10px 0px;
}

.DetailSongStory__translation {
  padding: 10px 0px;
}
